.tuixue-header {
    position: fixed;
    z-index: 1;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        margin-top: auto;
        margin-bottom: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        & > * {
            margin: 2px;
            padding: 2px
        }
        h1 {
            color: white !important;
        }
    }
}