.tuixue-header {
    position: fixed;
    z-index: 1;
    width: 100%;

    display: flex;
    margin: 0 !important;
    padding: 0 !important;

    > * {
        flex: 1;
    }
}

.logo {
    display: flex !important;
    justify-content: flex-start;
    align-items: center;
    & > * {
        margin: 2px !important;
        padding: 2px !important;
    }
    h1 {
        color: white !important;
    }
}

.nav-popover {
    .ant-popover {
        min-width: 0.5vw;
    }
}
